<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left input_mask managementstyle">
                <div class="form-input-middle">
                    <div class="col-xs-12 form-group has-feedback">
                        <input type="search" class="form-control has-feedback-left" ng-model="vm.newRoom.city" placeholder="Search" required="required">
                        <span class="required"></span>
                        <span class="fa fa-globe form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="vm.newRoom.building" placeholder="Building" required="required">
                        <span class="required"></span>
                        <span class="fa fa-institution form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="vm.newRoom.SN" placeholder="SN" required="required">
                        <span class="required"></span>
                        <span class="fa fa-inbox form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="vm.newRoom.openTime" placeholder="Open" required="required">
                        <span class="required"></span>
                        <span class="fa fa-toggle-on form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-6 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="vm.newRoom.closeTime" placeholder="Close" required="required">
                        <span class="required"></span>
                        <span class="fa fa-toggle-off form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-xs-12 form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" ng-model="vm.newRoom.timeZone" placeholder="TimeZone, for China e.g.:'+0800'" required="required">
                        <span class="required"></span>
                        <span class="fa fa-institution form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button ng-click="vm.createRoom()" class="btn btn-success2" >
                            save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>