<style>
    a {
        color: #485275;
    }
</style>

<div class="container" id="content">
    <div class="col-md-4 col-sm-12 col-xs-12" ng-repeat="room in roomList">
        <div class="x_panel">
            <ul class="x_content">
                <li class="x_content_title">
                    <a href='#/manager/roomInfo/{{room._id}}'><h3>{{room.country + ', '+ room.city + ', ' + room.building}}</h3></a>        
                </li>
                <li class="x_content_middle">
                        <h1>0</h1>
                        <div>Total people</div>
                </li>
            </ul>
        </div>
        <div id="triangle-bottomright" ng-click='deleteRoom(room._id)' class="triangle_display"><i class="fa fa-minus"></i></div>                    
    </div>



    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="x_panel">
            <ul class="x_content forblank">
                <li class="x_content_title">
                </li>
                <li class="x_content_middle">
                    <a ui-sref="addRoom">
                    <span class="middleadd1">
                            <i class="fa fa-plus"></i>
                    </span>
                    </a>
                    <span class="middleadd2">
                    <i class="fa fa-minus"></i>
                </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--my room-->

<script type="text/template" id="newRoom">
    
</script>

