<style>
  #historyTable {
    width: 60%;
    margin: 0 auto;
    color: black;
  }

  #historyTable td, #historyTable th{
    padding: 5px;
    text-align: center;    
  }
.select-panel {
  font-size: 15px;
  margin-bottom: 20px;
}

  .select-panel .input-group {
    margin-bottom: 0;
  }

</style>
<div class='nav_menu'>
  <div class="myboss">
    <div class="locationinformation">
            <i class="fa fa-map-marker"></i>China | Shanghai | SGH201 4F
      </div>      
  </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel managementstyle">
    <div class="x_content myroomtitle">
      <div class="numberleft" ng-bind="avgNum">
      </div>
      <div class="numberleftmargin">
        <ul>
          <li>Average / day</li>
          <li>in curren month (excl. weekends)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 col-sm-6 col-xs-12">
  <div class="x_panel managementstyle">
    <div class="x_content myroomtitle">
      <div class="numberleft" ng-bind="curNum">
      </div>
      <div class="numberleftmargin">
        <ul>
          <li>Total</li>
          <li>in current month</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--graph-->
<!-- /graph area -->
<div class="col-md-12 col-sm-12 col-xs-12 fortop">
  <div class="x_panel managementstyle">
    <div class="x_title">
      <h2>Visitor per hour
        <small></small>
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="row">
        <div class="col-md-12 select-panel" style="display: flex; align-items: center">
          <div class="col-md-1">
            Date:
          </div>
          <div class="col-md-3">
            <fieldset>
              <div class="control-group">
                <div class="controls">
                  <div class="input-prepend input-group">
                    <span class="add-on input-group-addon">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </span>
                    <input type="text" style="width: 200px" name="reservation" id="single_cal3" class="form-control"/>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" ng-click="renderBarPlot(barPlotDate)">Show</button>
          </div>
        </div>
      </div>




      <div id="history" style="width:95%; height:300px;"></div>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 fortop">
  <div class="x_panel managementstyle">
    <div class="x_title">
      <h2>Last 7 days
        <small></small>
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="col-md-12 select-panel" style="display: flex; align-items: center">
        <div class="col-md-1">
          Export:
        </div>
        <div class="col-md-3">
          <fieldset>
            <div class="control-group">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="add-on input-group-addon">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  </span>
                  <input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="01/01/2016 - 01/25/2016"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" ng-click="exportToCSV()">Export</button>
        </div>
      </div>
      <div>
        <table class="table table-hover" id="historyTable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Number (In)</th>
              <th>Number (Out)</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody ng-repeat="data in historyData">
            <td ng-bind="formatDate(data.date)"></td>
            <td ng-bind="data.in"></td>
            <td ng-bind="data.out"></td>
            <td ng-bind="data.total"></td>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<div class="clearfix"></div>